<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adcure.adminactivity">
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".OrderSection"
            android:exported="false" />
        <activity
            android:name=".MedicineView"
            android:exported="false" />
        <activity
            android:name=".UpdateMedicines"
            android:exported="false" />
        <activity
            android:name=".ViewMedicines"
            android:exported="false" />
        <activity
            android:name=".PharaCategory"
            android:exported="false" />
        <activity
            android:name=".PharmaSection"
            android:exported="false" />
        <activity
            android:name=".LabTestCategories"
            android:exported="false" />
        <activity
            android:name=".AddedLabtests"
            android:exported="false" />
        <activity
            android:name=".AddLabTest"
            android:exported="false" />
        <activity android:name=".TodayOrders">

        </activity>

        <activity android:name=".DownloadCategory" />
        <activity android:name=".DisplayingIssues" />
        <activity android:name=".Notify" />
        <activity android:name=".Empty" />
        <activity android:name=".TotalOrders">

        </activity>
<activity android:name=".ShipOrder"></activity>
        <activity android:name=".DisplayingAddedDoctors" />
        <activity android:name=".AddDoctorActivity" />
        <activity android:name=".Feedback.PatientStories" />
        <activity android:name=".AdminCategoryActivity" />
        <activity android:name=".Appointment.AppointmentActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>